<footer
  class="footer flex justify-center mx-auto py-8 bg-secondary border-2 border-t text-base-content p-10"
>
  <nav>
    <h6 class="footer-tle">help</h6>
    <a href="" class="link link-hover">Shipping</a>
    <a href="" class="link link-hover">About Us</a>
    <a href="" class="link link-hover">Contact</a>
    <a href="" class="link link-hover">Cookie Policy</a>
  </nav>
  <nav>
    <h6 class="footer-tle">help</h6>
    <a href="" class="link link-hover">Shipping</a>
    <a href="" class="link link-hover">About Us</a>
    <a href="" class="link link-hover">Contact</a>
    <a href="" class="link link-hover">Cookie Policy</a>
  </nav>
  <nav>
    <h6 class="footer-tle">help</h6>
    <a href="" class="link link-hover">Shipping</a>
    <a href="" class="link link-hover">About Us</a>
    <a href="" class="link link-hover">Contact</a>
    <a href="" class="link link-hover">Cookie Policy</a>
  </nav>
</footer>
